<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

 <!--Шапка-->
  <header class="header">
    <div class="container">
      <div class="logo">

        <a href="{{ url_for('products') }}">
          <img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo">
          <span>Product Manager</span>
        </a>

      </div>
    </div>
  </header>

 <main>
    <div class="container">
       <h1>Product manager</h1>

        {% with messages = get_flashed_messages() %}
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        {% endwith %}

        <!-- форма для додавання товару -->
        <h3>Add product:</h3>

        <form method="POST">
          <input name="title" type="text" placeholder="Title">
          <input name="price" type="number" placeholder="Price">
          <input name="category" type="text" placeholder="Category">

          <button type="submit">Add</button>
        </form>

        <!-- список всіх товарів -->
        <h3>Products:</h3>

        <table border="1" cellpadding="5" >

          <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            {% for product in products %}
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>

                <td>
                  <!--передаємо назву товару для динамічної адреси-->
                  <a href="{{ url_for('delete', name_product=product.name) }}">
                    <button>Delete</button>
                  </a>

                  <a href="{{ url_for('edit', name_product=product.name) }}">
                    <button>Edit</button>
                  </a>
                </td>

              </tr>
            {% endfor %}

          </tbody>

          <tfoot></tfoot>
        </table>

    </div>
  </main>

</body>
</html>