<!--Підключаємо base-->
{% extends "base.html" %}

<!--Вказуємо заголовок-->
{% block title %}
Register
{% endblock %}

<!--Вказуємо заголовок-->
{% block content %}
  <h1 class="mb-4">Register</h1>

  <form method="POST">
    <div class="col-md-4 mb-3">
      <input class="form-control" name="name" type="text" placeholder="Name company">
    </div>

    <div class="col-md-4 mb-3">
      <input class="form-control" name="password" type="password" placeholder="Password">
    </div>

    <div class="col-md-4 mb-3">
      <button class="form-control btn btn-dark" type="submit">Register</button>
    </div>
  </form>
{% endblock %}